# Table of Contents
 <p><div class="lev1"><a href="#Import-pandas,-numpy,-matplotlib-and-seaborn"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas, numpy, matplotlib and seaborn</a></div><div class="lev1"><a href="#Create-a-Series-object,-access-it's-index-and-cells"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create a Series object, access it's index and cells</a></div><div class="lev1"><a href="#Create-a-DataFrame-object,-access-its-rows,-columns,-indices,-cells"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create a DataFrame object, access its rows, columns, indices, cells</a></div><div class="lev1"><a href="#Data-Import"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data Import</a></div><div class="lev1"><a href="#DataFrame-filtering"><span class="toc-item-num">5&nbsp;&nbsp;</span>DataFrame filtering</a></div><div class="lev1"><a href="#Data-export"><span class="toc-item-num">6&nbsp;&nbsp;</span>Data export</a></div><div class="lev1"><a href="#DataFrame-aggregation"><span class="toc-item-num">7&nbsp;&nbsp;</span>DataFrame aggregation</a></div><div class="lev1"><a href="#Data-Merging"><span class="toc-item-num">8&nbsp;&nbsp;</span>Data Merging</a></div>

This notebook is to quickly repeat the most basic pandas operations prior to starting the practical course.
You should be able to quickly perform the following tasks before you start working on the exercises in the Day1 notebook. If you need to look up, how certain problems can be solved, have a look at the pandas [10 Minutes Introduction](http://pandas.pydata.org/pandas-docs/stable/10min.html), the [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) and the lecture slides.

# Import pandas, numpy, matplotlib and seaborn

# Create a Series object, access it's index and cells

Create a Series object representing the following measurements

| S   |
|-----|
| 1.0 |
| 1.5 |
| 3.0 |
| 4.3 |
| 8.2 |

# Create a DataFrame object, access its rows, columns, indices, cells

Create a dataframe of the following table.

|index   |a |b  |c   |d          |e |
|--------|--|---|----|-----------|--|
|1       |2 |3  |5.  |horse      |13|
|2       |3 |1  |1.4 |cat        |11|
|3       |4 |9  |1.2 |dog        |  |
|4       |5 |12 |0.8 |tortoise   |  |
|5       |6 |2  |2.3 |rabbit     |9 |

Now
* access the values of each row individually
* access single cells
* print the index and column names
* access values of each column individually
* rename columns
* extract rows 2-4 as new dataframe
* obtain summary table of dataframe

# Data Import

Import the following file into a dataframe _df2_:

https://raw.githubusercontent.com/sebwink/Integrated_Bioinformatics/master/example_data/example_df.csv

Now import the following file into a pandas dataframe _df3_. Do you need to change some parameters of the funtion?
Check whether import makes sense by showing the dataframe

https://raw.githubusercontent.com/sebwink/Integrated_Bioinformatics/master/example_data/example_df2.csv

# DataFrame filtering
Using the dataframe created in section 3:

* select rows containing values greater than 2 in the 3rd column
* select rows that contain values greater than 2 in the 3rd column or 'cat' in the 4th column
* drop rows with missing data
* drop duplicate rows
* drop 1st column from dataframe
* sort rows by 2nd column
* convert Strings in 4th column to title-case

# Data export

Export your filtered dataframe as a text file separated by tabs omitting the index column.

# DataFrame aggregation

Using _df4_, group the data by column 'b'. Test different ways of aggregating the remaining columns as shown in the lecture.

# Data Merging

* Merge df3 with df4 on columns c, d and e. Change columns with same names in a meaningful way.

* Now perform a full outer join of the data, to keep all rows contained in either of the two dataframes.